@font-face {
  font-family: 'Maler';
  src: url('assets/Maler.ttf');
}

body {
  background-color: #000000;
  margin: 0;
  display: grid;;
  font-family: Maler;
  place-items: center;
}

body.on {
  background-color: rgb(3, 20, 34);
  transition: background-color 0.5s ease;
}

body.on #heading {
  background-color: rgb(3, 20, 34);
  transition: background-color 0.5s ease;
}
  
body.on #startButton {
  pointer-events: auto;
  --c: #000;
  background: linear-gradient(90deg, #0000 33%, #0005, #0000 67%) var(--_p,100%)/300% no-repeat,
  #e0e0e0;
  color: #464141;
  transition: background 0.5s ease, color 0.5s ease;
}

body.on h1 {
  color: rgb(144, 136, 85);
}

#heading {
  background-color: rgb(0, 0, 0);
  display: block;
  position: fixed;
  width: 100%;
  color: rgb(37, 35, 19);
}
  
h1 {
  color: rgb(27, 26, 15);
  font-size: 7em;
  margin: 75px;
  font-weight: 100;
}

#controls {
  width: 20%;
  position: absolute;
  top: 150%;
  left: 10%;
}

#startButton {
  pointer-events: none;
  position: absolute;
  left: 45%;
  top: 150%;

  --c: #1d1d1d;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #0f0e0e;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

#startButton:hover,
#startButton:focus-visible {
  --_p: 0%;
  --_i: 1;
}

#startButton:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

#startButton {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}

.bulb {
  position: relative;
  width: 140px;
  height: 130px;
  top: 200px;
  right: 65px;
  background-color: #37321f;
  border-radius: 100%;
  z-index: 200;
  cursor: pointer;
}

.bulb::before {
  content: '';
  position: absolute;
  top: -70px;
  left: 40px;
  width: 55px;
  height: 120px;
  background-color: #37321f;
  border-radius: 15px;
  z-index: 300;
  border-top: 50px solid #000;
}

.wire {
  width: 6px;
  height: calc(50% - 210px);
  position: absolute;
  background-color: #000;
  z-index: 201;
  top: 0;
  left: 70%;
}

body.on .bulb {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 200px #fff, 0 0 250px #fff, 0 0 300px #fff, 0 0 350px #fff;
  z-index: 2;;
}

body.on .bulb::before {
  background-color: #fff;
}

body.on .builb::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 50%;
  filter: blur(40px);
}